* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scrollbar-color: rgba(78, 18, 255, .2) hsla(0, 0%, 100%, .1);
    scrollbar-width: thin;
    color: white;
}

body {
    background: #121212;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

section {
    background: #121212;
    min-height: 100vh !important;
    padding: 60px 0;
}

nav {
    background: #121212 !important;
}

nav a,
span {
    color: white !important;
}

nav a:hover {
    transition: 0.8s;
    border-bottom: 1px solid #4E12FF;
}

ul,
ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    font-size: 24px;
    text-transform: uppercase;
    color: #4E12FF;
    font-weight: 700;
}

.nav-item a {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 26px;
    text-align: left;
    word-spacing: 0;
    color: #4E12FF;
    font-weight: 600;
}

.roxo-btn {
    background: #4E12FF;
    border-radius: 80px;
    font-size: 12px;
    width: 120px;
    padding: 15px;
}

.roxo-txt {
    color: #4E12FF !important;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info h3 {
    color: #4E12FF;
    ;
}

.info p {
    max-width: 100%;
    font-weight: 300;
}

.info a {
    background: #4E12FF;
    border-radius: 80px;
    font-size: 12px;
    padding: 15px;
}

.home img {
    height: 600px;
    width: 450px;

    border-radius: 8px;
}

.card-servicos h2 {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.4px;
    line-height: 1;
    margin-bottom: 60px;
    font-weight: 600;
}

.servicos {
    height: 255px !important;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid white;
    padding: 30px 25px;
    margin-bottom: 30px;
}

.servicos div {
    margin: 10px 0;
}

.servicos-conteudo h3 {
    font-size: 18px;
}

.servicos:hover {
    transition: 0.8s;
    border: 1px solid #4E12FF;
}

.servicos:hover h3 {
    transition: 0.8s;
    color: #4E12FF;
}

.servicos p {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 15px;
    line-height: 22px;
}

.icone img {
    width: 60px;
    height: 60px;
}

.sobre-perfil {
    margin-bottom: 15px;
}

.sobre-perfil .pro-title {
    font-weight: 600;
    position: relative;
    width: 128px;
    display: inline-block;
    margin-bottom: 10px;
    color: #222;
}

.sobre-perfil .pro-title::after {
    position: absolute;
    content: ':';
    color: #fff;
    font-size: 14px;
    left: 88px;
}

@media screen and (max-width: 1680px) {}

@media screen and (max-width: 1440px) {}

@media only screen and (min-width: 900px) and (max-width: 1440px) {}

@media only screen and (min-width: 768px) and (max-width: 1360px) {}

@media screen and (max-width: 1280px) {}

@media only screen and (min-width: 720px) and (max-width: 1280px) {}


/* RESPONSIVIDADE PARA DISPOSITIVOS MOBILES */
@media screen and (max-width: 700px) {
    .info p {
        max-width: 100%;
        text-align: justify;
        font-weight: 300;
    }

    .home {
        flex-direction: column;
    }

    .home img {
        width: 350px;
        height: 400px;
    }

}