* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: black;
    min-height: 100vh;

}

section {
    background: black;
    min-height: 100vh !important;
}

nav {
    background: black !important;
}

nav a,
span {
    color: white !important;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info h3 {
    color: #4E12FF;
    ;
}

.info p {
    max-width: 100%;
    font-weight: 300;
}

.info a {
    background: #4E12FF;
    border-radius: 80px;
    font-size: 12px;
    padding: 15px;
}

.home img {
    height: 600px;
    width: 450px;

    border-radius: 8px;
}


@media screen and (max-width: 1680px) {}

@media screen and (max-width: 1440px) {}

@media only screen and (min-width: 900px) and (max-width: 1440px) {}

@media only screen and (min-width: 768px) and (max-width: 1360px) {}

@media screen and (max-width: 1280px) {}

@media only screen and (min-width: 720px) and (max-width: 1280px) {}


/* RESPONSIVIDADE PARA DISPOSITIVOS MOBILES */
@media screen and (max-width: 700px) {
    .info p {
        max-width: 100%;
        text-align: justify;
        font-weight: 300;
    }

    .home {
        padding-top: 30px;
        flex-direction: column;
    }

    .home img {
        width: 350px;
        height: 400px;
    }
}